{% extends "layout.html" %}

{% set pageId = "page-home" %} {# Cirando uma variavel #}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/model.css">
{% endblock styles %}

   
    {% block contet %}
        <div class="content">

            <header>
                <img src="/assets/logo.svg" alt="logotipo">
                <a href="/create-point"> 
                    <span>  </span>
                    Cadastre seu ponto de coleta</a>
            </header>
            
            <main>
                <h1>Seu marketplace de coleta de residuos</h1>

                <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente</p>

                <a href="#"> 
                    <span></span> 
                    <strong>Pesquisar pontos de coleta</strong>
                </a>
                
            </main>
            
        </div>    
    {% endblock contet %}

    
   {% block modal %}
   <!--Uso do nunjucks-->
        {% include "partials/modal.html" %}
   {% endblock modal %}


   {% block scripts %}
         <script src="scripts/index.js"></script>
   {% endblock scripts %}
    


   